/* .pic{
    text-align: center;
    align-items: center;
} */
.head-container{
    text-align: center;
    background-image: url('/src/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-attachment:fixed;
    /* box-shadow: none; */
}
.year-container{
    text-align: center;
}
.head-text{
    
}
.midnight{
    display: flex;
    background-image: url('/src/Vectorrr.png');
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.best-container{
    display: flex;
    justify-content: space-around;
}